*{
    margin: 0%;
    padding: 0%;
}
.body{
    font-family: Arial, sans-serif;
}
.container{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(254, 225, 230);
    padding-bottom: 30px;
}
.text{
    text-align: center;

}
.text p{
    font-size: 20px;
    padding-top: 20px;
}
.line{
    border: 1px solid rgb(179, 2, 32);
    display:flex;
}
.top{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    gap: 30px;
}
.box{
    width: 100%;
    height: 100%;
    
    border-radius: 10px;
    background-color: white;
    color: rgb(248, 5, 147);
}
.bottom{
    /* flex: 2;
     width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    gap:15px;
    justify-content: space-between;
    padding-top: 30px;

    
}
 .card{
    max-width: 100%;
    height:40vh;
    display: flex;
    flex-direction: row;
   
    
 }    
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
