*{
    div{
        font-family: Arial, Helvetica, sans-serif;
        margin:0%;
        padding:0%;
    }
}
.container{
    max-width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.text h1{
    font-size: 60px;
    color: black;
   text-align: center;
}
.text p{
    font-size: 20px;
    color: gray;
    text-align:center;
}
.cards{
    max-width: 100%;
    height:40vh;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 25px;
}
.card1{
    flex: 1;
    height: 100%;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    border-top: 5px solid rgb(238, 66, 95);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    padding: 20px;
}
.card2{
    flex: 1;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    border-top: 5px solid rgb(237, 55, 85);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    padding: 20px;
}

.circle1{
    position: absolute;
    top: 243px;
    padding-left:7%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.circle1 img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
}
.circle2{
    position:absolute;
    top:243px;
    padding-left:7%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.circle2 img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
}
.circle3{
    position: absolute;
    top:243px;
    padding-left:7%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.circle3 img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
}
.circle{
    position: absolute;
    top: 243px;
    padding-left: 7%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
 .circle img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
} 
.line{
    border: 2px solid rgb(245, 113, 135);
    width: 20%;
    margin-left: 200px;
    border-radius: 5px;
}
.text2{
    font-style: italic;
    padding-top: 10px;    
}
.text1{
    font-style: italic;
    padding-top: 10px;
}
.name{
    color: rgb(244, 82, 109);
    padding-top: 40px;
}
.star{
    color: gold;
}
.quote{
    color:rgb(245, 99, 123);
    height: 20px;
    width: 20px;
    text-align: center;
    padding-left: 130px;
    padding-top:35px ;
}
.quote1{
    color:rgb(237, 79, 105);
    height: 20px;
    width: 20px;
    text-align: center;
    padding-left: 130px;
    padding-top: 50px;
}